:foreman:
  :host: "{{ satellite_server_url | default('https://' ~ (ansible_fqdn | default(inventory_hostname))) }}"
  :username: "{{ satellite_username | default(global_admin | default(admin_user | default('admin'))) }}"
  :password: "{{ satellite_password | default(global_admin_password | default('')) }}"
