[defaults]
inventory = ${MRHIS_CONTAINER_INVENTORY_FILE}
host_key_checking = False
retry_files_enabled = False
# Include project `roles/` so repository-level roles are discovered by Ansible
roles_path = ${ROLES_PATH}
interpreter_python = auto_silent
remote_tmp = /var/tmp
forks = ${MRHIS_ANSIBLE_FORKS}
timeout = ${MRHIS_ANSIBLE_TIMEOUT}
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ${MRHIS_ANSIBLE_FACT_CACHE_CONTAINER}
fact_caching_timeout = ${MRHIS_ANSIBLE_FACT_CACHE_TIMEOUT}
callbacks_enabled = ansible.posix.profile_tasks,ansible.posix.timer
bin_ansible_callbacks = True
log_path = /mrhis/vars/vault/${AAP_ANSIBLE_LOG_BASENAME}
nocows = 1
inject_facts_as_vars = True

[ssh_connection]
pipelining = True
ssh_args = ${_ssh_args_common}${_ssh_identity_arg_container}
control_path_dir = /tmp/.ansible-cp
retries = 3

[galaxy]
server_list = published, validated, community_galaxy

[galaxy_server.published]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# token redacted (use vaulted var vault_console_redhat_token)
token = ${ah_token}

[galaxy_server.validated]
url = https://console.redhat.com/api/automation-hub/content/validated/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# token redacted (use vaulted var vault_console_redhat_token)
token = ${ah_token}

[galaxy_server.community_galaxy]
url = https://galaxy.ansible.com/
