server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ redirect_target }};

    # Redirect all HTTP requests to the chosen HTTPS endpoint
    return 301 https://{{ redirect_target }}$request_uri;
}
